/* Select all spans that are immediate children of buttons */
button>span {
    font-size: 2.5rem;
}

.box {
    position: relative;
    background-color: #ffffff80;

    height: 800px;
}

.ball {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 1px rgb(0, 0, 0);
    border-radius: 50%;
    padding: 30px;
    box-shadow: 1px 1px 15px 0px #00000087;
    margin-left: 15px;
    min-width: 110px !important;
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    box-shadow: 0px 10px 10px 1px #030303ab;
    background: radial-gradient(circle at 100px 100px, #29629b, rgb(234, 235, 241));
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;

    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;

    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}